.vscode/**
.git/**
.github/**
.claude/**
src/**
dist/test/**
media/screenshots/**
!media/screenshots/btn-btns-animate.webp
*.md
!README.md
!CHANGELOG.md
docs/**
tsconfig.json
.gitignore
.vscodeignore
.buttons
.buttons.json
.node-version
buttons-vscode.code-workspace
**/*.map
node_modules/@vscode/codicons/src/**
node_modules/@vscode/codicons/.github/**
node_modules/@vscode/codicons/.vscode/**
node_modules/@vscode/codicons/.devcontainer/**
node_modules/@vscode/codicons/_iconCloud/**
node_modules/@vscode/codicons/scripts/**
node_modules/@vscode/codicons/preview.png
node_modules/@vscode/codicons/svgo.config.js
node_modules/@vscode/codicons/.fantasticonrc.js
node_modules/@vscode/codicons/dist/codiconsLibrary.ts
node_modules/@vscode/codicons/dist/codicon.html
node_modules/@vscode/codicons/dist/codicon.csv
node_modules/@vscode/codicons/dist/codicon.svg
node_modules/@vscode/codicons/SECURITY.md
node_modules/@vscode/codicons/CODE_OF_CONDUCT.md
